.about {

    width: 100%;
    background-color: rgb(231, 228, 228);
    font-family: "Ubuntu Sans", sans-serif;
    color: black;
}



.about_title {
    padding: 30px 0 30px 0;
    font-size: 60px;
    text-align: center;
}

.about_text {
    padding: 0 0 40px 20px;
    opacity: .7;
    width: 900px;
    font-size: 25px;
    margin: 0 auto;
}

@media(max-width:999px) {
    .about_text {
        width: 700px;
        font-size: 20px;
    }
}

@media (max-width: 750px) {
    .about_text {
        width: 560px;
        font-size: 16px;
    }
}

@media (max-width: 610px) {
    .about_text {
        width: 520px;

    }
}

@media (max-width: 560px) {
    .about_text {
        width: 450px;
        font-size: 14px;
    }
}

@media(max-width:479px) {
    .about_text {
        width: 330px;
        font-size: 16px;

    }
}