body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input,
select {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}


.total {
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}


.submit-btn {
    padding: 12px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
}



.cart-item {
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
}

.cart-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
}

.cart-details {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cart-details strong {
    font-size: 18px;
}

.cart-details .size {
    font-size: 14px;
    color: #555;
}

/* Контейнер для количества и цены */
.qty-price-row {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Кол-во */
.cart-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.qty-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #aaa;
    background: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 1;
}

/* Цена */
.price {
    font-weight: bold;
    font-size: 16px;
}

/* Кнопка удалить */
.remove-btn {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: transparent;
    font-size: 22px;
    cursor: pointer;
    color: #888;
    border: 1px solid #888;
    border-radius: 50%;
    padding: 0 6px;
}

.remove-btn:hover {
    color: rgb(198, 85, 85);
}

.btn-back-to-catalog {
    align-items: center;
    display: block;

    width: 160px;
    margin: 0 auto;
    padding: 10px 20px;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}



/* === Адаптация для мобильных устройств === */

@media (max-width: 600px) {
    .cart-item {
        /* flex-direction: column;
        align-items: flex-start;
        gap: 10px; */
    }

    /* .cart-item img {
        width: 100%;
        height: auto;
    } */

    .qty-price-row {
        justify-content: space-between;
        width: 100%;
        gap: 0;
    }

    .cart-controls {
        gap: 6px;
    }

    .price {
        font-size: 15px;
    }

    .remove-btn {
        right: 15px;

    }
}