.fraze {
    width: 100%;
    height: 200px;
    font-family: "Ubuntu Sans", sans-serif;
}

.fraze p {
    padding: 30px 20px 30px 20px;
    margin: 0 auto;
    width: 900px;
    font-size: 30px;
    text-align: center;
}

@media(max-width:999px) {
    .fraze p {
        width: 700px;
        font-size: 28px;
    }
}

@media (max-width: 750px) {
    .fraze {
        height: 230px;

    }

    .fraze p {
        width: 560px;
        font-size: 24px;
    }
}

@media (max-width: 610px) {
    .fraze p {
        width: 500px;
        font-size: 20px;
    }
}


@media (max-width: 560px) {
    .fraze p {
        width: 450px;
        font-size: 20px;
    }
}

@media (max-width:479px) {
    .fraze p {
        font-size: 16px;
        width: 400px;

    }
}