.html {
    scroll-behavior: smooth;
}

body {
    overflow-y: scroll;
}

.header {
    padding: 20px;
    height: 100px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 990;
    position: fixed;
    top: 0;
}


.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}


.header_wrapper {
    /* display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center; */
    /* display: flex; */
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    /* height: 100%; */
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.header_nav {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.header_nav_item {
    font-size: 22px;
}


.header_logo {
    justify-self: center;
    font-size: 25px;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;

}

.pk {
    font-size: 45px;

}

.love {
    color: red;
}

.header_logo_item {}

.header_info {
    justify-self: end;
    /* толкает блок в конец колонки */
    text-align: right;
}

.header_info_item {}


.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    position: relative;
    top: -44px;
    left: 345px;
}


.burger span {
    height: 3px;
    width: 100%;
    background-color: #000;
    border-radius: 2px;
}



.close {
    position: relative;
    top: -49px;
    left: 345px;
}

.close span {
    font-size: 30px;
}


.mob_content {
    font-family: "Ubuntu Sans", sans-serif;
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 400px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 0 0 0;
    z-index: 999;
    transition: all 0.3s ease-in-out;

}

.last {
    font-size: 13px;
}

.instagram-icon {
    width: 24px;
}

.header_nav_item {}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.main {
    width: 100%;
    height: 600px;
    background-image: url("../assets/img4.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 80%;
}




@media (max-width: 479px) {
    .header_nav {
        display: none;
    }

    .header_info {
        display: none;
    }

    .burger {
        opacity: 1;
    }

    .header_wrapper {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .header_logo {
        align-self: center;
    }
}