.html {
    scroll-behavior: smooth;
}

body {
    overflow-y: scroll;
}

.header {
    padding: 20px;
    height: 100px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 990;
    position: fixed;
    top: 0;

}





.header_wrapper {
    /* display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center; */
    /* display: flex; */
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    /* height: 100%; */
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.header_nav {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.header_nav_item {
    font-size: 22px;
    color: #000;
}


.header_logo {
    justify-self: center;
    font-size: 25px;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;

}

.pk {
    color: #000;
    font-size: 45px;

}

.love {
    color: red;
}

.header_logo_item {}

.header_info {
    color: #000;
    justify-self: end;
    /* толкает блок в конец колонки */
    text-align: right;
}

.header_info_item {}



.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    position: fixed;
    top: 35px;
    right: 36px;
}


.burger span {
    height: 3px;
    width: 100%;
    background-color: #000;
    border-radius: 2px;
}




.close {
    position: fixed;
    top: 35px;
    right: 36px;
}

.close span {
    font-size: 30px;
}


.mob_content {
    font-family: "Ubuntu Sans", sans-serif;
    position: fixed;
    top: 98px;
    left: 0;
    width: 100%;
    height: 400px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding: 20px 0 0 0;
    z-index: 999;
    transition: all 0.3s ease-in-out;
    color: #000;
}

.header_nav_item_mob {}

.last {
    font-size: 13px;
}

.block_img_mob {
    width: 44px;
    height: 44px;
    margin: 0 auto;
}

.img_mob {}

/* .instagram-icon {
    width: 24px;
} */

.header_nav_item {}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.main {
    width: 100%;
    height: 600px;
    background-image: url("../assets/img4.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 80%;
}

@media (max-width: 999px) {
    .header_nav_item {
        font-size: 16px;
    }

    .header_nav {
        gap: 10px;
    }

    .header_info {
        font-size: 13px;
    }

}

@media (max-width: 750px) {
    .pk {
        font-size: 35px;
    }

    .header_nav_item {
        font-size: 14px;
    }
}

@media (max-width: 680px) {
    .header_nav_item {
        font-size: 12px;
    }

    .header_info {
        font-size: 10px;
    }

    .container {
        padding: 0px;
    }



}

@media (max-width: 610px) {
    .header_wrapper {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .header_nav_item {
        font-size: 12px;
    }

    .header_nav {
        gap: 4px;
    }

    .header_nav {
        display: none;
    }

    .header_info {
        display: none;
    }

    .burger {
        opacity: 1;
    }

    .header_logo {
        align-self: center;
    }

    .header_logo {
        align-self: center;
    }
}



@media (max-width: 479px) {

    .header_wrapper {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .header_logo {
        align-self: center;
    }
}

@media (max-width: 410px) {
    .header {
        padding: 20px 0 20px 0;
    }
}