.look {
    background-color: rgb(36, 28, 28);
    padding: 0 20px 60px 20px;
}

.look_animacion {
    opacity: 0;
    transform: translateX(50px);
    /* блок заезжает СПРАВА; для слева поставь -50px */
    will-change: transform, opacity;
}

.look_animacion.in-view {
    animation: slideInRight 0.8s ease both;
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
        /* совпадает с .look_animacion */
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* уважение к настройкам доступности */
@media (prefers-reduced-motion: reduce) {

    .look_animacion,
    .look_animacion.in-view,
    .look_animacion-left,
    .look_animacion-left.in-view {
        animation: none !important;
        transform: none !important;
        opacity: 1 !important;
    }
}

.look-title {
    padding: 30px 0;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-size: 55px;
    text-align: center;
    color: aliceblue;
}

.look-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;

}

.look-content {}

.look-img {
    width: 100%;
}




.hidden {
    display: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.modal-content {
    position: relative;
    z-index: 2;
    background: white;
    padding: 0px;
    border-radius: 8px;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.modal-content img {
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
    border-radius: 6px;
}

.close-modal {
    margin-top: -33px;
    color: rgb(234, 6, 6);
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 30px;
    border-radius: 5px;
}