.mini-cart {
    /* display: none; */
    position: relative;
    /* top: 135px; */
    /* right: 50px;
    z-index: 998; */
    cursor: pointer;
    /* background-color: rgb(255, 255, 255, 0.5); */
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    border: 1px solid #d8d1d1;
    border-radius: 50%; */
    padding: 0 20px 0 0;

}

.mini-card-img {
    width: 70px;
    height: 70px;
    opacity: 1;

}

.mini-cart-count {
    position: absolute;
    /* top: 30px;
    right: 43px; */
    top: 43%;
    left: 39%;
    transform: translateX(-50%);
    /* background: #ffffff; */
    color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 2px 8px;
    font-size: 14px;
}



/* Скрыта по умолчанию */
.mobile-fixed-cart-btn {
    display: none;



}



/* По умолчанию: скрыть мобильную кнопку, показать десктопную */
.mobile-fixed-cart-btn {
    display: none;
}

.desktop-cart-btn {
    display: inline-block;
}

@media(max-width:610px) {
    .desktop-cart-btn {
        display: none;
    }
}


/* Скрыто по умолчанию */
.mobile-fixed-cart-btn {
    display: none;
}



.mini-cart-mob {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    /* width: 30px;
    height: 20px; */
    /* background: none;
    border: none; */
    padding: 0;
    cursor: pointer;
    /* opacity: 0; */
    position: fixed;
    top: 3px;
    right: 78px;
    /* z-index: 9999; */
}

.mini-card-img-mob {
    width: 45px;
    height: 45px;
}

.mini-cart-count-mob {
    color: white;
    cursor: pointer;
    /* opacity: 0; */
    position: absolute;
    /* top: 20px;
    right: 97px; */
    font-size: 11px;
    top: 42%;
    left: 49%;
    transform: translateX(-50%);
}



.count-black {
    color: black;
}