@import url("header.css");
@import url("basic.css");
@import url("fraze.css");
@import url("about.css");
@import url("look.css");
@import url("footer.css");
@import url("page2catalog.css");
@import url("page3main.css");
@import url("team.css");
@import url("swap.css");
@import url("roll.css");
@import url("text-scroll.css");